body {
    background-image: url('img/WinXpWallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.center-Mypc {
    position: absolute;
    font-family: Tahoma;
    font-size: 13px;
    top: 130px;
    left: 10px;
    color: White;
    -webkit-font-smoothing: none;

}

.center-RecycleBin {
    position: absolute;
    font-family: Tahoma;
    font-size: 13px;
    top: 55px;
    left: 15px;
    color: White;
    -webkit-font-smoothing: none;
}

.MenuBar {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3%;
}


#time {
    font-family: Tahoma;
    position: absolute;
    width: 100%;
    height: 85%;
    text-align: right;
    bottom: 0;
    right: 0.5%;
    font-size: 0.9em;
    color: White;
}

.center {
    position: absolute;
    margin: auto;
    width: 32%;
    padding: 10px;
    left: 35%;
}

#icon {
    position: absolute;
    top: 1%;
    right: 4%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}

table,
td {
    border: 1px solid #333;
}